<form action='/user/@ViewBag.name/top' method="get">
    Top <input style="color: black" type='number' step='1' min='1' max='100' name="num"> albums of (optional)
    <select style="color: black" id='periodselect' name='from'>
        <option selected value=""></option>
        <option value='1960s'>60s</option>
        <option value='1970s'>70s</option>
        <option value='1980s'>80s</option>
        <option value='1990s'>90s</option>
        <option value='2000s'>00s</option>
        <option value='2010s'>10s</option>
    </select> <input style="color: black" type='submit'>
</form>