@model List<Musicollage.Models.DisplayRating>
<h3>Welcome, @ViewBag.name</h3>
<p>View your top albums</p>
<form action='/user/@ViewBag.name/top' method="get">
    Top <input type='number' step='1' min='1' max='100' name="num"> albums of (optional)
    <select id='periodselect' name='from'>
        <option selected value=""></option>
        <option value='1960s'>60s</option>
        <option value='1970s'>70s</option>
        <option value='1980s'>80s</option>
        <option value='1990s'>90s</option>
        <option value='2000s'>00s</option>
        <option value='2010s'>10s</option>
    </select> <input type='submit'>
</form>